body
{
	background:white;
	font-style: italic;
}
#container
{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60vh;
}
#container1
{
	display:flex;
	height: 80vh;
	
}
#container2
{
	display:flex;
	flex-direction: row;
	float: right;
	height: 60vh;
}
#BackHomeButton
{
	position: absolute;
	right: 10px;
	bottom: 5px;
}
h1
{
	color: dark gray;
	font-size: 50px;
	border-top: 5px solid;
}
h4
{
	font-weight: 100;
	font-size: 25px;
}
a
{
	background-color: #A9A9A9
}
p 
{
	color: black;
}
ul
{
	font-size: 18px;
}
body
{
	background-color: #43608e;
	font-size: 25px;

}
button
{
	margin: 10px 20px;
	padding: 20px 20px;
	background-color: #A9A9A9;
	/*A9A9A9*/
	font-size: 15px;
	text-align: center;
	border: 1px solid #2E1263;
	letter-spacing: 4px;
	outline: none;
	font-weight: 725;
}
button:hover
{
	transition:1.5s;
	background-color: #2E1263;
	color:#F69680;
	text-decoration: underline;
}
#newton
{
	margin: 20px 20px ;
	height: 500px;
	border-radius: 95%;
	margin-left: 30px;
	
}
#snakepic
{
	float: right;
	margin: 20px 20px ;
	height: 350px;
	width: 500px;
}